<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.communityservicetracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CommunityServiceTracker">
        <activity
            android:name=".accountentry.RegistrationActivity"
            android:exported="false" />
        
        <!-- All the organization workflow classes-->
        <activity
            android:name=".orgworkflow.DummyOrgActivity"
            android:exported="false" />
        
        <activity android:name=".orgworkflow.CreateOpportunityActivity"/>

        <activity android:name=".orgworkflow.ViewOpportunitiesActivity"/>

        <!-- Will probably delete later -->
        <activity android:name=".orgworkflow.OrgInfoActivity"/>
        
        <activity
            android:name=".studentworkflow.DummyStudentActivity"
            android:exported="false" />

        <activity
            android:name=".studentworkflow.StudentActivity"
            android:exported="false" />
        <activity
            android:name=".accountentry.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- REMOVED UNNECESSARY CLASSES -->

    </application>

</manifest>